<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialWise - Connect and Engage</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="images/WhatsApp_Image_2024-06-30_at_9.22.09_PM-removebg-preview.png" alt="Socialwise Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#events">Events</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#volunteer">Volunteer</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="#volunteer">Join</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section id="one">
        <div class="content">
            <div class="text-content">
                <h1 class="white">Engage with Your Community
                </h1>
                <h3 class="blackish">Discover local events, volunteer opportunities, and community projects.
                    Connect with members,
                    businesses,
                    and organizations around you.</h3>
            </div>
    </section>
    <div id="example">
        <section class="about" id="about">
            <div class="about-content">
                <h2>About Us</h2>
                <p>Welcome to SocialWise, your platform to connect and engage with your local community! We strive to
                    bring
                    together individuals, businesses, and organizations through events, volunteer opportunities, and
                    community projects. Our mission is to foster a sense of belonging and make a positive impact in our
                    neighborhoods.</p>
                <p>Join us in exploring local events, discovering volunteer initiatives, and supporting community-driven
                    projects. Together, we can build stronger communities and create lasting connections.</p>
            </div>
            <div class="about-image">
                <img src="https://media.istockphoto.com/id/1286378180/vector/website-information-concept.jpg?s=612x612&w=0&k=20&c=6v9Hcbp0zp5itIPIywobPQF13YsHIQ4j_srF5VbQusY="
                    alt="About Us Image">
            </div>
        </section>


        <section class="news" id="news">
            <h2>Latest News</h2>
            <div class="news-list">
                <div class="news-item">
                    <h3>UP police arrest man whose shop was vandalised in Himachal over animal sacrifice photo</h3>
                    <p>The police in Uttar Pradesh’s Shamli district have arrested a 20-year-old Muslim man from
                        Jalalabad town who allegedly uploaded photos of animal sacrifice as his WhatsApp status on the
                        occasion of Eid al-Adha.</p>

                </div>
                <div class="news-item">
                    <h3>Ayodhya: Rainwater was leaking from roof of sanctum sanctorum at Ram temple, says chief priest
                    </h3>
                    <p>There was heavy leakage from the roof of the temple's sanctum sanctorum in the first heavy
                        showers that occurred at midnight on Saturday, said Acharya Satyendra Das expressing his
                        disappointment..</p>

                </div>
                <div class="news-item">
                    <h3>UP govt to equip Bundelkhand Expressway with Advanced Traffic Management System
                    </h3>
                    <p>According to the action plan prepared to make Bundelkhand Expressway Integrated Traffic
                        Management System enabled, a Traffic Management Command Centre will be established on the
                        expressway to strengthen the traffic monitoring and management process.</p>

                </div>
                <div class="news-item">
                    <h3>Guest houses to be built for top dignitaries in Ayodhya & Prayagraj</h3>
                    <p>The decision was taken on Friday after Chief Minister Yogi Adityanath reviewed a presentation on
                        the guest houses' construction site</p>

                </div>
                <div class="news-item">
                    <h3>UP Urban Cooling Policy: MoU signed at workshop</h3>
                    <p>Anupam Shukla, Director, UPNEDA, Vandana Sehgal, Professor/Dean, FOAP, AKTU and Dipa Singh Bagai,
                        Country Head, NRDC India signed the MoU.</p>

                </div>
                <div class="news-item">
                    <h3>Paper leaks mess: UP govt to bring in Ordinance, life in prison for guilty</h3>
                    <p>Yogi govt to bring new ordinance to curb exam paper leaks in Uttar Pradesh: Here are key
                        provisions.</p>

                </div>


                <!-- Add more news items as needed -->
            </div>
            <div class="button-container">
                <div class="add-news-button">
                    <a href="/news/new" class="btn-add-news">Add News Article</a>
                </div>
                <div class="view-news-button">
                    <a href="/news" class="btn-news-event">View News</a>
                </div>
            </div>

        </section>

        <section class="volunteer" id="events">

            <div class="volunteer-image">
                <img src="https://media.istockphoto.com/id/1430871384/vector/event-planner-template-hand-drawn-cartoon-flat-illustration-with-planning-schedule-time.jpg?s=612x612&w=0&k=20&c=Aa-8uNDJCHmiilHB5A9-VYrbUmy5GhYG4VIfEtr9hmE="
                    alt="Event Image">
            </div>
            <div class="volunteer-content">
                <h2>Upcoming Events</h2>
                <p>Explore the vibrant pulse through exciting upcoming events hosted by SocialWise, our local community connect website. From enriching workshops and engaging cultural festivals to fun-filled family picnics and informative town hall meetings, there's something for everyone to enjoy and participate in.</p>
                <p>Stay tuned as SocialWise brings together neighbors, friends, and local businesses to celebrate our shared interests and aspirations. </p>
                <div class="button-container">
                    <div class="add-event-button">
                        <a href="/events/create" class="btn-add-event">Add New Event</a>
                    </div>
                    <div class="view-event-button">
                        <a href="/events" class="btn-view-event">View Event</a>
                    </div>
                </div>
            </div>
        </section>




        <section class="volunteer" id="volunteer">
            <div class="volunteer-content">
                <h2>Volunteer with Us</h2>
                <p>At SocialWise, we believe in the power of volunteering to create positive change in our communities.
                    Whether
                    you're passionate about the environment, education, or social justice, there's a place for you to
                    make a
                    difference.</p>
                <p>Explore our upcoming volunteer opportunities and join us in making a meaningful impact. Together, we
                    can
                    build a stronger, more connected community.</p>
                <div class="button-container">
                    <div class="add-v-button">
                        <a href="/volunteering/create" class="btn-add-volunteer">Create Volunteering</a>
                    </div>
                    <div class="view-v-button">
                        <a href="/volunteering" class="btn-view-volunteer">View Volunteering</a>
                    </div>
                </div>
            </div>

            <div class="volunteer-image">
                <img src="https://media.istockphoto.com/id/1347280688/vector/group-of-volunteers.jpg?s=612x612&w=0&k=20&c=3rRmrcQm_E-ObRLq0snf5tiuW242011FqFrC3a5L08E="
                    alt="Volunteer Image">
            </div>
        </section>

        <section class="online-events">
            <h2>Online Community Events</h2>
            <div class="event-list">
                <div class="event-item">
                    <img src="https://i.pinimg.com/736x/7f/2b/d7/7f2bd7723462af461657cca0648c240e.jpg"
                        alt="Online Event 1">
                    <h3>Webinar-Community Building</h3>
                    <p>Join our webinar to learn effective strategies for community building.</p>
                </div>
                <div class="event-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ3M31JfzsyBmirLvBNZYWnxEgBw6_ljxriw&s"
                        alt="Online Event 2">
                    <h3>Virtual Networking</h3>
                    <p>Network with community leaders and members from the comfort of your home.</p>
                    
                </div>
                <div class="event-item">
                    <img src="https://img.freepik.com/premium-vector/donation-box-with-clothes-toys-books-medicines-african-volunteer-woman-holding-hands-heart-share-your-love-support-poor-people-children-vector-illustration-flat-cartoon-style_189033-1933.jpg"
                        alt="Online Event 3">
                    <h3>Online Fundraising</h3>
                    <p>Learn how to organize and run successful online fundraising campaigns.</p>
                    
                </div>
                <div class="event-item">
                    <img src="https://media.istockphoto.com/id/1289638559/vector/online-volunteer-service-concept-virtual-mentoring-companionship-support-flat-vector.jpg?s=612x612&w=0&k=20&c=jGeJPI7MTaQaje8J9hEoGWTSityyjDEsoeEWotoMk-Q="
                        alt="Online Event 4">
                    <h3>Remote Volunteering</h3>
                    <p>Discover ways to volunteer and make a difference from home.</p>
                    
                </div>
            </div>
        </section>
        <section class="contact" id="contact">
            <div class="contact-content">
                <h2>Contact Us</h2>
                <p>Have questions or suggestions? Feel free to get in touch with us. We'd love to hear from you!</p>
                <form action="#" method="POST">
                    <label for="name">Your Name:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Your Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="4" required></textarea>

                    <a class="btn-read-more" onclick="onClick()">Send Message</a>
                    <script>
                        function onClick(){
                            alert("DONE");
                        }
                    </script>
                </form>
            </div>
            <div class="contact-info">
                <h3>Visit Us</h3>
                <p>5/63 D Viraj Khand ,Gomti Nagar, Lucknow</p>

                <h3>Call Us</h3>
                <p>Phone: +91 8189008872</p>

                <h3>Email Us</h3>
                <p>Email: socialwise@gmail.com</p>
            </div>
        </section>
    </div>


    <footer>
        <p>© 2024 SocialWise. All rights reserved.</p>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#terms">Terms</a></li>
                <li><a href="#privacy">Privacy</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </nav>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
    </footer>
</body>

</html>