@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
.whole{
    width: 450px;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 34%;
    align-items: center;
}
.pad{
    margin: 20px;
}
.heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Roboto Slab";
    padding: 20px;
    margin: 0;
    background-image: url(/images/backpic1\ \(2\).jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

input[type="text"],
input[type="date"],
textarea {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}


@media (max-width: 768px){
    .container{
        padding: 20px;
    }
}