@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    padding: 20px;
    margin: 0;
    /* background-color: #f5f5f5; */
    background-image: url('/images/backpic1 (2).jpg');
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}
h1{
    text-align: center;
}

.whole {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.v-item {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.v-item p {
    margin: 10px 0;
    color: #555;
}

.v-item strong {
    color: #333;
}

button[type="submit"] {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

button[type="submit"] :hover {
    background-color: #45a049;
}
form input[type="text"],
form input[type="email"]{
    width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px;
}